<footer class="bg-light text-center text-lg-start w-100">
  <div class="text-center p-3 bg-dark text-white w-100">
    © <%= new Date().getFullYear() %> <%= appName %>. All rights reserved.
  </div>
</footer>
