<!-- Sidebar Navigation -->
<div class="bg-light border-end p-3" style="width: 250px">
  <h4>Menu</h4>
  <ul class="nav flex-column">
    <li class="nav-item row-hover">
      <a class="nav-link active text-dark text-hover-blue" href="/quotes">
        <i class="bi bi-bag-check-fill me-2"></i> Quotes
      </a>
    </li>
    <li class="nav-item row-hover">
      <a class="nav-link text-dark text-hover-blue" href="/profile">
        <i class="bi bi-person-fill me-2"></i> Profile
      </a>
    </li>
  </ul>
</div>